.home-content h2 .text-animate {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px var(--universal-color);
  background-image: linear-gradient(
    var(--universal-color),
    var(--universal-color)
  );
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-position: -25rem 0;
  animation: webDeveloper 6s linear infinite;
  animation-delay: 2s;
}

.home-content h2 .text-animate::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--universal-color);
  z-index: -1;
  animation: webDeveloperCursor 6s linear infinite;
  animation-delay: 2s;
}

/* .header.sticky {
  background: yellowgreen;
} */

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-bg-color);
  z-index: 98;
}

.animated {
  background: var(--secondary-bg-color);
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate,
.about.show-animate .animate,
.skill.show-animate .animate,
.projects.show-animate .animate,
.contact.show-animate .animate,
.footer.show-animate .animate {
  animation: showRight 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}

.logo,
.navbar,
.home .home-img,
.project-container .project-content {
  position: relative;
}

.btn-box.btns button,
.btn-box button,
.contact-content .contact-box {
  margin-top: 1px;
}

.btn-box button {
  margin-right: 1px;
}

@keyframes webDeveloper {
  0%,
  10%,
  100% {
    background-position: -25rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes webDeveloperCursor {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }
  75%,
  81% {
    opacity: 0;
  }
}

@keyframes circle {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* screen resolution adoptability */
@media (max-width: 1440px) {
  html {
    font-size: 75%;
  }

  .home-img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--secondary-bg-color);
    box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.25s ease;
    transition-delay: 0.25s;
  }

  .navbar.active {
    transition-delay: 0s;
    left: 0;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--primary-text-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-nav {
    transition: 0.25s;
    left: 0;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active a {
    transform: translateX(0);
    transition-delay: 0.25s;
  }

  .home {
    display: grid;
  }

  .home .home-img {
    order: -1;
    margin: 0 auto;
  }

.home img {
  margin-left: 18rem;
}

  .skills-row .skills-column h3 {
    text-align: center;
  }

  .project-container {
    grid-template-columns: 1fr;
    width: 70%;
  }

  .contact .animate {
    width: 105%;
    height: 105%;
  }

  .contact .contact-content {
    margin-top: 2px;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 50%;
  }

  .home img {
  margin-left: 14rem;
}
}

@media (max-width: 320px) {
  html {
    font-size: 40%;
  }

  .social-links i {
    margin-top: 3px;
  }
}
