@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-text-color: #0e203d;
  --primary-bg-color: #f6f6f6;
  --secondary-bg-color: #1e457c;
  --universal-color: #e13304;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Poppins';
  color: var(--primary-text-color);
}

body {
  min-height: 100vh;
  max-width: 1920px;
  margin: auto;
  background: var(--primary-bg-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 6%;
  background: var(--secondary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  transition: 0.3s;
}

section {
  padding: 9rem 6% 1rem;
  min-height: 100vh;
}

.home,
.about,
.skill,
.projects,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navbar */
.logo {
  font-size: 2.5rem;
  color: var(--primary-bg-color);
  font-weight: 600;
}

.logo span {
  color: var(--universal-color);
}

.navbar a {
  font-size: 1.5rem;
  color: var(--primary-bg-color);
  margin-left: 3rem;
  font-weight: 500;
}

.navbar a:hover,
.navbar a.active {
  color: var(--universal-color);
}

#menu-icon {
  display: none;
  font-size: 2.5rem;
  color: var(--primary-bg-color);
}

/* home section */
.home {
  gap: 3rem;
}

.home-content h2,
.about h2,
.skill h2,
.projects h2,
.contact h2 {
  position: relative;
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h1 {
  position: relative;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  position: relative;
  font-size: 1.6rem;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
  margin-top: 2rem;
}

.btn-box button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 15rem;
  height: 90%;
  color: var(--primary-bg-color);
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background: var(--primary-text-color);
  border: 0.2rem solid var(--primary-text-color);
  border-radius: 0.9rem;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box button:hover {
  color: var(--primary-text-color);
}

.btn-box button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--primary-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box button:hover::before {
  width: 100%;
}

.btn-box button:nth-child(2) {
  background: transparent;
  color: var(--primary-text-color);
}

.btn-box button:nth-child(2):hover {
  color: var(--primary-bg-color);
}

.btn-box button:nth-child(2)::before {
  background: var(--primary-text-color);
}

.social-links {
  position: relative;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.social-links a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--primary-text-color);
  border-radius: 50%;
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem 0;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s;
}

.social-links a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--primary-text-color);
  z-index: -1;
  transition: 0.3s;
}

.social-links a:hover::before {
  width: 100%;
}

.social-links i {
  padding: 2rem;
}

.social-links i:hover {
  color: var(--primary-bg-color);
}

.home img {
  width: 30vw;
  margin-left: 14rem;
  transition: 3s ease-in-out;
}

.home img:hover {
  opacity: 0.5;
}

.about {
  flex-direction: column;
  gap: 2rem;
}

.about h2,
.skill h2,
.projects h2,
.contact h2 {
  text-align: center;
}

.about span,
.skill span,
.projects span,
.contact span {
  color: var(--universal-color);
}

.about-img {
  position: relative;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  border: 0.2rem solid var(--primary-text-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  border-top: 0.3rem solid var(--primary-bg-color);
  border-bottom: 0.3rem solid var(--primary-bg-color);
  border-left: 0.3rem solid var(--universal-color);
  border-right: 0.3rem solid var(--universal-color);
  animation: circle 8s linear infinite;
}

.about-content {
  text-align: center;
}

.about-content h3 {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 20rem;
  font-size: 2.3rem;
}

.about-content p {
  position: relative;
  margin: 2rem 0 3rem;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns button {
  font-size: 1.5rem;
  height: 90%;
  width: 99%;
}

.skill,
.projects,
.contact {
  flex-direction: column;
  padding-bottom: 5rem;
}

.skill h2,
.contact h2 {
  margin-bottom: 3rem;
}

.skill .skills-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.skills-column h3 {
  position: relative;
  font-size: 2.3rem;
  margin: 0 0 1.5rem 2rem;
}

.skill-container {
  position: relative;
  width: 32rem;
  height: 24rem;
  padding: 5px;
}

.skills-column .skill-content {
  border: 0.2rem solid var(--primary-text-color);
  border-radius: 0.8rem;
  padding: 2rem;
  width: 30rem;
  height: 22rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.skill-content .skills {
  border-left: 0.3rem solid var(--universal-color);
  height: 14rem;
  margin-left: 1.5rem;
}

.skills .skills-bullet {
  position: relative;
  padding-left: 2rem;
}

.skills .skills-bullet::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--universal-color);
}

.skill-content p {
  margin: 2rem 0 2rem 1rem;
  font-size: 1.5rem;
}

.projects h2 {
  margin-bottom: 5rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.project-container .project-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--primary-text-color);
  overflow: hidden;
  display: flex;
}

.project-box img {
  width: 100%;
  transition: 0.5s;
}

.project-box:hover img {
  transform: scale(1.1);
}

.project-box .project-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--universal-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s;
}

.project-box:hover .project-layer {
  transform: translateY(0);
}

.project-layer h4 {
  font-size: 2rem;
  color: var(--primary-bg-color);
}

.project-layer p {
  font-size: 1.3rem;
  color: var(--primary-bg-color);
}

.project-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: var(--primary-bg-color);
  border-radius: 50%;
}

.project-layer a i {
  font-size: 2rem;
  padding: 2rem;
}

.contact .contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content .contact-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content input {
  width: 30rem;
  height: 3rem;
  margin-bottom: 1rem;
  border: 0.2rem solid var(--primary-text-color);
  border-radius: 0.4rem;
  padding: 0.5rem;
}

.contact-content textarea {
  resize: none;
  width: 30rem;
  height: 15rem;
  border: 0.2rem solid var(--primary-text-color);
  border-radius: 0.4rem;
  padding: 0.5rem;
}

.contact-content input::placeholder,
.contact-content textarea::placeholder {
  color: var(--secondary-bg-color);
  font-size: 1rem;
  opacity: 0.6;
}

footer {
  width: 100%;
  background: var(--secondary-bg-color);
}

footer .copyright {
  position: relative;
  width: 18rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 0;
  color: var(--primary-bg-color);
}

#msg {
  display: block;
  color: var(--universal-color);
  font-size: 1.5rem;
}